<div class="page_content", style="align: center;">
  <div class="table_container", style="width: 40%; float: left; box-sizing: border-box;">
    <h1>Current Measurements</h1>
      <%= will_paginate @current_measurements %>
      <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Pressure</th>
          <th>Location based on IP</th>
        </tr>
      </thead>
        <tbody>
          <% @current_measurements.each do |measurement| %>
            <tr>
              <td><%= measurement.id %></td>
              <td><%= measurement.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td><%= measurement.temperature %></td>
              <td><%= measurement.humidity %></td>
              <td><%= measurement.pressure %></td>
              <td><%= measurement.location_based_on_ip %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @current_measurements %>
  </div>
   <div class="chart_container", style="width: 40%; float: left; box-sizing: border-box;">
    <h2>Daily Temperature</h2>
    <canvas id="temperatureChart"
      width="95%"
      height="100"
      data-temperatures='<%= @temperatures.to_json.html_safe %>'
      data-timestamps='<%= @timestamps.map { |t| t.strftime('%H:%M') }.to_json.html_safe %>'>
    </canvas>

    <h2>Weekly Temperature</h2>
    <canvas id="temperatureChartWeek"
      width="95%"
      height="100"
      data-temperatures='<%= @temperatures_week.to_json.html_safe %>'
      data-timestamps='<%= @timestamps_week.map { |t| t.strftime('%a %H:%M') }.to_json.html_safe %>'>
    </canvas>

    <h2>All Time Temperature</h2>
    <canvas id="temperatureChartAll"
      width="95%"
      height="100"
      data-temperatures='<%= @temperatures_all.to_json.html_safe %>'
      data-timestamps='<%= @timestamps_all.map { |t| t.strftime('%Y-%m-%d') }.to_json.html_safe %>'>
    </canvas>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", () => {
  // Code für das erste Diagramm (Tägliche Temperatur)
  const ctx = document.getElementById('temperatureChart').getContext('2d');
  const temperatures = JSON.parse(document.getElementById('temperatureChart').getAttribute('data-temperatures'));
  const timestamps = JSON.parse(document.getElementById('temperatureChart').getAttribute('data-timestamps'));
  new Chart(ctx, {
      type: 'line',
      data: {
          labels: timestamps,
          datasets: [{
              label: 'Daily Temperature',
              data: temperatures,
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 2,
              fill: false
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  // Code für das zweite Diagramm (Wöchentliche Temperatur)
  const ctxWeek = document.getElementById('temperatureChartWeek').getContext('2d');
  const temperaturesWeek = JSON.parse(document.getElementById('temperatureChartWeek').getAttribute('data-temperatures'));
  const timestampsWeek = JSON.parse(document.getElementById('temperatureChartWeek').getAttribute('data-timestamps'));
  new Chart(ctxWeek, {
      type: 'line',
      data: {
          labels: timestampsWeek,
          datasets: [{
              label: 'Weekly Temperature',
              data: temperaturesWeek,
              borderColor: 'rgba(255, 99, 132, 1)',
              borderWidth: 2,
              fill: false
          }]
      }
  });

  // Code für das dritte Diagramm (Gesamttemperatur)
  const ctxAll = document.getElementById('temperatureChartAll').getContext('2d');
  const temperaturesAll = JSON.parse(document.getElementById('temperatureChartAll').getAttribute('data-temperatures'));
  const timestampsAll = JSON.parse(document.getElementById('temperatureChartAll').getAttribute('data-timestamps'));
  new Chart(ctxAll, {
      type: 'line',
      data: {
          labels: timestampsAll,
          datasets: [{
              label: 'All Time Temperature',
              data: temperaturesAll,
              borderColor: 'rgba(153, 102, 255, 1)',
              borderWidth: 2,
              fill: false
          }]
      }
  });

});
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js">
</script>
